@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

//Mixins
@mixin transitionEffect($par){
  transition: $par all;
  -webkit-transition: $par all;
  -moz-transition: $par all;
  -o-transition: $par all;
}
@mixin centerFlex{
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  flex-direction: column;
  @include centerFlex;
  min-height: 100vh;
  margin: 0;
}
.title {
  margin: 10px 0 0;
  text-align: center;
}
.container {
  @include centerFlex;
  flex-wrap: wrap;
  max-width: 1000px;
}
.container img {
  object-fit: cover;
  margin: 10px;
  height: 300px;
  width: 300px;
  max-width: 100%;
}